# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
deps
*.map
obj
run.log
romeo/tst/*/gen
romeo/tst/*/settings.h
romeo/tst/*/settings.c
romeo/tst/*/settings.bin
app/*/gen
app/*/settings.h
app/*/settings.c
app/*/settings.bin
size.log
*.gcov
index.*html
coverage.log
profile.log

# exported slides from office
*_slide.jpg